html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #feffec;

  font-family: 'IBM Plex Mono', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  height: 200px;
  background-color: #d9d9d9;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  gap: 20px;
}

.square {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.title {
  color: white;
  font-size: 18px;
  margin: 0;
}

.input-box {
  padding: 5px 5px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  outline: none;
}